<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/react@15.3.2/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/remarkable@1.7.1/dist/remarkable.min.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
</head>

<body>
    <div id="container">
        <p>
            To install React, follow the instructions on
            <a href="https://github.com/facebook/react/">GitHub</a>.
        </p>
        <p>
            If you can see this, React is <strong>not</strong> working right. If you checked out the source from GitHub make sure to run <code>grunt</code>.
        </p>
    </div>
    <div id="mount-point"></div>
    <div id="label-mount-point"></div>
    <div id="label-mount-point"></div>
    <!--<script src="/build/build.min.js"></script>-->
    <!--use for prod-->
    <script src="/src/build.js"></script>
    <!--use for dev-->
</body>

</html>
