<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/remarkable@1.7.1/dist/remarkable.min.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="/css/bootstrapdarkly.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="container">
      <h3> an error may have happened :( </h3>
      <img src="imgs/motivation.jpg" />
    </div>
    <div id="mount-point"></div>
    <div id="label-mount-point"></div>
    <div id="login-modal"></div>
    <div id="message-point"></div>
    <!--<script src="/build/build.min.js"></script>-->
    <!--use for prod-->
    <script src="/src/build.js"></script>
    <!--use for dev-->
</body>

</html>
