footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.messages {
  padding: 1em;
  font-size: 1.2em;
}

.message {
  padding: .3em;
  padding-bottom: 0em;
}

.messageFromYou
{
  background-color: #444444;
}

.barterBrand
{
  max-height: 6em;
  top: 0em;
  margin: -10px -20px;
  margin-bottom: -5em;

}

html { height: 100%; overflow:auto; }
body { height: 100%; }

.time { color: #CCCCCC }

p {
    display: inline-block;
}
